.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #fff;
  display: flex;
  position: relative;
}
.logo {
  position: absolute;
  width: 228px;
  height: 32px;
}
.logo_place_header {
  left: 64px;
  top: 30px;
}
.header__title {
  position: absolute;
  align-self: center;
  left: 64px;
  max-width: 730px;
  z-index: 2;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}
.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  z-index: 2;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}
.header__subtitle-text {
}
a {
  text-decoration-line: none;
  color: #f2f2f2;
}
.header__link {
  color: #2f80ed;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0px;
  background-color: #2f80ed;
}
.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0px;
  right: 0px;
  z-index: 1;

  background-size: cover;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.description {
  width: 80%;
  display: flex;
  align-self: center;
}
.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 100px;
}
.two-columns__brief {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
  max-width: 175px;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 34px;
}
.two-colomns__paragraph {
  margin-bottom: 30px;
}
.span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.digits__title {
  margin-top: 70px;
  display: flex;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  justify-content: center;
}
.digits__subtitle {
  justify-content: center;
  width: 60%;
  margin-top: 20px;
  display: flex;
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__heading {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
}
.table__text {
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  margin-top: 20px;
}
.feynman__content {
  background-color: #fff;
  min-height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feynman__title {
  margin-top: 100px;
  max-width: 648px;
  line-height: 1.15;
  font-weight: 600;
  font-size: 120px;
  z-index: 1;
  text-align: center;
}
.feynman__subtitle {
  line-height: 51px;
  font-weight: normal;
  font-size: 36px;
  z-index: 1;
}
.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
}
.feynman__link {
  line-height: 51px;
  font-size: 36px;
  position: absolute;
  right: 48px;
  top: 50%;
  color: #2f80ed;
}
.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
}
.kaufman__table_cell_theme_dark {
  width: 200px;
  color: #fff;
  margin-right: 0;
  margin-top: 80px;
}
.table_theme_dark {
  z-index: 1;
}
.kaufman__title_theme_dark {
  margin-top: 90px;
  display: flex;
  width: 60%;
  justify-content: center;
  color: #fff;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}
.kaufman__subtitle_theme_dark {
  justify-content: center;
  width: 60%;
  margin-top: 20px;
  display: flex;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #fff;
}
.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0px;
  right: -210px;
  z-index: -1;
  background-size: cover;
}
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
}
.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-top: 60px;
  padding-bottom: 40px;
}
.column__content_copyright {
  flex-basis: 711px;
  position: relative;
}
.footer__author {
  position: absolute;
  left: 0;
  margin-top: 16px;
  bottom: 16px;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
}
.footer__column_heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}
.footer__column_links {
  display: flex;
  flex-direction: column;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  padding: 0;
}
.footer__column_link {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  line-height: 30px;
  list-style-type: none;
  padding: 0;
}
.footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}
