.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}
h1,
h2,
h3,
h4 {
  font-size: 1em;
  margin: 0;
  font-weight: normal;
}

.strong {
  font-weight: 600;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;

  /* выше установили ограничения для секции */
}
.logo {
  position: absolute;
  width: 228px;
  height: 32px;
}
.logo_place_header {
  left: 64px;
  top: 30px;
}
.title {
  position: absolute;
  align-self: center;
  left: 64px;
  width: 730px;
  z-index: 2;
}
.title_text {
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}
.subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  z-index: 2;
}
.subtitle_text {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}
a {
  color: #2f80ed;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0px;
  background-color: #2f80ed;
}
.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  background-image: url("/images/header-image.png");
  background-size: cover;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.description {
  width: 80%;
  display: flex;
  align-self: center;
}
.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 100px;
}
.two-columns_brief {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
  width: 175px;
}
.two-columns_paragraph {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 34px;
}
.span {
  margin: 30px 0px;
}
.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.digits_title {
  margin-top: 100px;
  display: flex;
  width: 60%;

  justify-content: center;
}
.digits_title_text {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.digits_subtitle {
  justify-content: center;

  width: 60%;
  margin-top: 20px;
  display: flex;
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
}
.table_cell {
  width: 250px;

  margin-top: 60px;
}

.table_heading {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
}
.table_text {
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
}
.table_text_sourse {
  margin-top: 20px;
}

.feynman_content {
  background-color: #f2f2f2;
  height: 890px;
  margin-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feynman_title {
  margin-top: 100px;
  width: 648px;
  line-height: 1.15;
  font-weight: 600;
  font-size: 120px;
  z-index: 1;
  text-align: center;
}
.feynman_subtitle {
  line-height: 51px;
  font-weight: normal;
  font-size: 36px;
  z-index: 1;
}

.feynman_img {
  width: 867px;
  height: 637px;
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
}
.feynman_link {
  line-height: 51px;
  font-size: 36px;
  position: absolute;
  right: 48px;
  top: 50%;
}
.kaufman_content {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.table_kaufman {
  z-index: 1;
}
.kaufman_title {
  margin-top: 90px;
  display: flex;
  width: 60%;
  justify-content: center;
  color: white;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}
.kaufman_subtitle {
  justify-content: center;
  width: 60%;
  margin-top: 20px;
  display: flex;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
}
.kaufman_img {
  background-image: url("/images/kaufman-triangle.svg");
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0px;
  right: -210px;
  z-index: -1;
  background-size: cover;
}
